<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contracts</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 id="name">SecureFi</h1>
        <h2 id="auditor">Auditor : none</h2>
        <h1 class="c"> SMART CONTRACTS </h1>
        <div class="contracts">
            <a href="/contract" id="c1" class="item item-1">Contract 1</a>
        </div>
    </div>
</body>
<script src="/js/index.js">
</script>
</html>